<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'JOGO/index.css' %}">
</head>

<body>
    <div class="container">
        <div class="computer-container">
            <div class="monitor">
                <div class="monitor-inner">
                    <div class="screen-container">
                        <div class="eyes off">
                            <div class="left eye">
                                <div class="shine"></div>
                            </div>
                            <div class="right eye">
                                <div class="shine"></div>
                            </div>
                        </div>
                        <div class="screen"></div>
                    </div>
                </div>
                <div class="monitor-bottom">
                    <div class="power-switch">
                        <div class="button"></div>
                    </div>
                    <div class="power-led standby"></div>
                </div>
            </div>
            <div class="monitor-base">
                <div class="wheels-parent">
                    <div class="wheel"></div>
                    <div class="wheel"></div>
                </div>
            </div>
            <div class="monitor-holder-container">
                <div class="monitor-holder">
                    <div class="monitor-holder-inner"></div>
                    <div class="monitor-holder-inner-front"></div>
                    <div class="monitor-holder-inner-front bottom"></div>
                </div>
                <div class="monitor-holder-front"></div>
            </div>
        </div>
    </div>
    <script>
        const powerLed = document.querySelector(".power-led");
        const powerButton = document.querySelector(".power-switch .button");
        const eyes = document.querySelector(".eyes");
        const screen = document.querySelector(".screen");

        const timers = [];

        powerButton.addEventListener("click", () => {
            powerLed.classList.toggle("on");

            if (powerLed.classList.contains("on")) {
                timers.splice(0);
                screen.classList.remove("off");
                showStartupSequence(["Ligando...", "Bem-vindo"], "{% url 'splash_screen' %}");
            } else {
                eyes.classList.add("off");
                screen.innerHTML = "";
                timers.forEach(timer => clearTimeout(timer));
                timers.splice(0);
            }
        });

        const showStartupSequence = (texts, redirectUrl) => {
            let wait = 750;
            screen.innerHTML = "";

            texts.forEach(text => {
                wait += 750;
                for (let i = 0; i < text.length; i++) {
                    const timer = setTimeout(() => {
                        screen.innerHTML += text[i];
                    }, wait);
                    timers.push(timer);
                    wait += 50 + ~~(Math.random() * 50);
                }

                wait += 750;
                const timer = setTimeout(() => screen.innerHTML += "<br>", wait);
                timers.push(timer);
            });

            wait += 1000;

            const timer = setTimeout(() => {
                window.location.href = redirectUrl; // Redireciona para a nova página
            }, wait);
            timers.push(timer);
        };
    </script>
</body>

</html>