<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Fundação SCP</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'JOGO/room.css' %}">
</head>

<body>
    <input type="checkbox" id="lightswitch" accesskey="l" />
    <input type="checkbox" checked="checked" id="wall4" accesskey="x" />

    <label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label>
    <label class="p1hover pointer" title="Tap to zoom - double tap to view code">
        <a href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p1hover pointer" title="Tap to zoom - double tap to view code">
        <a href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p1hover pointer" title="Tap to zoom - double tap to view code">
        <a href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label></label>
    <label class="p2hover pointer" title="Tap to zoom - double tap to view code">
        <a href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p2hover pointer" title="Tap to zoom - double tap to view code">
        <a href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p2hover pointer" title="Tap to zoom - double tap to view code">
        <a href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label></label>
    <label class="p3hover pointer" title="Tap to zoom - double tap to view code">
        <a href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p3hover pointer" title="Tap to zoom - double tap to view code">
        <a href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p3hover pointer" title="Tap to zoom - double tap to view code">
        <a href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="pointer turn" for="wall4" title="Rotate right"></label>
    <label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label>

    <z>
        <x>
            <y>
                <floor></floor>
                <ceiling></ceiling>
                <wall1>
                    <painting>
                        <img src="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" />
                        <p>
                            Pure CSS Only Portrait<br />
                            Isla<br />
                            <small>MC GORILA</small>
                        </p>
                    </painting>
                </wall1>
                <wall2>
                    <painting>
                        <img src="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" />
                        <p>
                            Pure CSS Landscape <br />
                            An Evening in Southwold<br />
                            <small>MC GORILA</small>
                        </p>
                    </painting>
                </wall2>
                <wall3>
                    <painting>
                        <img src="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad" />
                        <p>
                            Pure CSS Still Life<br />
                            Water and Lemons<br />
                            <small>MC GORILA</small>
                        </p>
                    </painting>
                </wall3>
                <wall4>

                    <notice>

                        <a title="Buy the landscape - CSS Art for your wall!" target="_blank"
                            href="https://www.redbubble.com/i/canvas-print/Pure-CSS-Landscape-An-Evening-in-Southwold-by-Ivorjetski/48823594.4ZB30">Buy
                            the landscape</a>
                        <a title="Buy the still life - CSS Art for your wall!" target="_blank"
                            href="https://www.redbubble.com/i/canvas-print/Pure-CSS-Still-Life-Water-and-Lemons-by-Ivorjetski/48862524.4ZB30">Buy
                            the still life</a>
                        <a title="Buy the portrait - CSS Art for your wall!" target="_blank"
                            href="https://www.redbubble.com/i/framed-print/Pure-CSS-Portrait-Isla-by-Ivorjetski/48862324.16RW4">Buy
                            the portrait</a>
                    </notice>
                    <door>
                        <a target="_blank" title="Exit" href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad">
                        </a>
                    </door>

                    <label for="lightswitch" class="pointer" title="Switch"></label>
                    <fireexit>
                        <i></i>
                        <i></i>
                    </fireexit>
                </wall4>
            </y>
        </x>
    </z>

    <label class="turnback" title="Rotate left" for="wall4"></label>
</body>

</html>