<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Fundação SCP</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'JOGO/room.css' %}">
</head>

<body>
    <input type="checkbox" id="lightswitch" accesskey="l" />
    <input type="checkbox" checked="checked" id="wall4" accesskey="x" />

    <label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label>
    <label class="p1hover pointer" title="Clique duas vezes para abrir">
        <a href="https://github.com/TavinScapi/ClovisGamesOFICIAL.git" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p1hover pointer" title="Clique duas vezes para abrir">
        <a href="https://github.com/TavinScapi/ClovisGamesOFICIAL.git" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p1hover pointer" title="Clique duas vezes para abrir">
        <a href="https://github.com/TavinScapi/ClovisGamesOFICIAL.git" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label></label>
    <label class="p2hover pointer" title="Clique duas vezes para abrir">
        <a href="https://github.com/TavinScapi" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p2hover pointer" title="Clique duas vezes para abrir">
        <a href="https://github.com/TavinScapi" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p2hover pointer" title="Clique duas vezes para abrir">
        <a href="https://github.com/TavinScapi" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label></label>
    <label class="p3hover pointer" title="Clique duas vezes para abrir">
        <a href="https://github.com/TavinScapi/MIKITO.BET.git" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p3hover pointer" title="Clique duas vezes para abrir">
        <a href="https://github.com/TavinScapi/MIKITO.BET.git" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="p3hover pointer" title="Clique duas vezes para abrir">
        <a href="https://github.com/TavinScapi/MIKITO.BET.git" target="_blank"></a>
        <label class="pointer"></label>
    </label>
    <label class="pointer turn" for="wall4" title="Rotate right"></label>
    <label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label>

    <z>
        <x>
            <y>
                <floor></floor>
                <ceiling></ceiling>
                <wall1>
                    <painting>
                        <img src="{% static 'JOGO/images/LOGO_CLOVISGAMES.png' %}" />
                        <p>
                            ClovisGamesOFICIAL
                            <br>
                            <small>TavinScapi</small>
                        </p>
                    </painting>
                </wall1>
                <wall2>
                    <painting>
                        <img src="{% static 'JOGO/images/prefil.jpg' %}" />
                        <p>
                            TavinScapi
                            <br>
                            <small>DEV</small>
                        </p>
                    </painting>
                </wall2>
                <wall3>
                    <painting>
                        <img src="{% static 'JOGO/images/logo.png' %}" />
                        <p>
                            Mikito.BET
                            <br>
                            <small>TavinScapi</small>
                        </p>
                    </painting>
                </wall3>
                <wall4>

                    <notice>


                        
                        <a title="volte sempre" target="_blank" href="https://github.com/TavinScapi">Volte Sempre!</a>
                        <a title="volte sempre" target="_blank" href="https://github.com/TavinScapi">Deslige a luz</a>
                        <a title="volte sempre" target="_blank" href="https://github.com/TavinScapi">Antes de Sair</a>
                    </notice>
                    <door>
                        <a target="_blank" title="Exit" href="https://i.scdn.co/image/ab6761610000e5ebd178c91c38f89c43aef317ad">
                        </a>
                    </door>

                    <label for="lightswitch" class="pointer" title="Switch"></label>
                    <fireexit>
                        <i></i>
                        <i></i>
                    </fireexit>
                </wall4>
            </y>
        </x>
    </z>

    <label class="turnback" title="Rotate left" for="wall4"></label>
</body>

</html>